<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Team Page</title>

    <!-- CSS Reset -->
    <link rel="stylesheet" href="../templates/css/reset.css">

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="../templates/css/style.css">
    
    <!-- JQuery CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Link to Moment.js should go here -->
    <script src="https://cdn.jsdelivr.net/momentjs/2.12.0/moment.min.js"></script>

</head>
<body>
    
    <h1 class="teamHeader">Team Dashboard</h1>
    
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title managerName"></h5>
                    <h6 class="card-subtitle mb-2 text-muted managerRole"></h6>
                    <p class="card-text managerEmail"></p>
                    <p class="card-text managerID"></p>
                    <p class="card-text managerOffice"></p>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title engineerName"></h5>
                    <h6 class="card-subtitle mb-2 text-muted engineerRole"></h6>
                    <p class="card-text engineerEmail"></p>
                    <p class="card-text engineerID"></p>
                    <p class="card-text engineerGithub"></p>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title internName"></h5>
                    <h6 class="card-subtitle mb-2 text-muted internRole"></h6>
                    <p class="card-text internEmail"></p>
                    <p class="card-text internID"></p>
                    <p class="card-text internSchool"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../team.json"></script>

    <script type="text/javascript">
        console.log("Hello World");
        $.getJSON('../team.json', function(data) {
            //do stuff with your data here
            console.log(data)

            
            console.log(2);
        

        // var data = [{"name":"Steve Jobs","id":"No. 1","email":"jobs@apple.com","officeNumber":"1337"},{"name":"Steve Woz","id":"No. 2","email":"woz@apple.com","github":"@woz"},{"name":"Chad","id":"No. 2000002","email":"Chad@asu.com","school":"ASU"}]

        console.log(data);

        var managerName = $(".managerName");
        var managerRole = $(".managerRole")
        var managerEmail = $(".managerEmail")
        var managerID = $(".managerID")
        var managerOffice = $(".managerOffice")

        managerName.text(data[0].name)
        managerEmail.text(data[0].email)
        managerID.text(data[0].id)
        managerOffice.text(data[0].officeNumber)

        var engineerName = $(".engineerName");
        var engineerRole = $(".engineerRole")
        var engineerEmail = $(".engineerEmail")
        var engineerID = $(".engineerID")
        var engineerGithub = $(".engineerGithub")

        engineerName.text(data[1].name)
        engineerEmail.text(data[1].email)
        engineerID.text(data[1].id)
        engineerGithub.text(data[1].github)

        var internName = $(".internName");
        var internRole = $(".internRole")
        var internEmail = $(".internEmail")
        var internID = $(".internID")
        var internSchool = $(".internSchool")

        internName.text(data[2].name)
        internEmail.text(data[2].email)
        internID.text(data[2].id)
        internSchool.text(data[2].school)
        
        });
    </script>
    

</body>
</html>